
.background{
   
    height: 600px;
    width: 100%;

    background: url(../img/header.jpg) no-repeat;
    
    background-position: center;
    background-size: cover;
}


nav {
    border-bottom: 2px solid rgb(73 72 72 / 80%);
    background-color: rgba(0, 0, 0, 80%);
    
}
header {
    background-color: rgba(0, 0, 0, 80%);
    height: 500px;
  
}
nav, header {
  font-family: Courgette, cursive;
  color: white;
 
  
  
}
h1{
    font-size: 40px;
}
.nav-link{
    font-family: 'Oswald', sans-serif;
}
.logotaille {
    width: 100px;
    padding-left: 140px;
}
/*.logo{
    padding-top: 120px;
    padding-left: 140px;  
    width: 100px;  
}

.logo h1{
    color: white;
    font-size: 60px;
}
.logo h2{
    color: white;
    padding-left: 0px;
    font-size: 40px;
}*/
.section-articles a {
    color: #000;
    text-decoration: none;
}

.section-articles img {
    width: 100%;
}

aside button {
    width: 100%;
}

footer a {
    color: #fff;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

aside i.bi, footer i.bi {
    padding: 5px;
}